<div class="card shadow p-4" style="min-width: 450px; width: 100%;">
    <h4 class="text-center mb-4">Read Message from Queue</h4>
    <form (ngSubmit)="readMessage()" #messageForm="ngForm">
    <div class="form-group mb-3">
        <label for="queue" class="form-label">Queue</label>
        <input
        type="text"
        id="queue"
        name="queue"
        class="form-control"
        [(ngModel)]="queue"
        placeholder="Enter queue name"
        required
        />
    </div>
    <div class="form-group mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea
        id="message"
        name="message"
        class="form-control"
        [(ngModel)]="message"
        rows="5"
        required
        disabled="true"
        ></textarea>
    </div>
    <button
        type="submit"
        class="btn w-100"
        style="background-color: #fe6202; border-color: #fe6202; color: white;"
    >
        Read
    </button>
    </form>
</div>